// Variables

// html 

html,
body {
    font-family: "PTS_normal";
    width: 100%;
    height: 100%;
    font-size: 14px;
    background-color: #e8e7e7;

    &.menu-open {
        overflow: hidden;

        .group-menu {
            display: flex;
        }

        .adaptive__burger-menu {

            span {
                margin: 0;

                &:first-child {
                    transform: rotate(45deg);
                }

                &:nth-child(2) {
                    display: none;
                }

                &:last-child {
                    transform: rotate(-45deg);
                    position: relative;
                    top: -2px;
                }
            }
        }
    }

    .footer-top__block {

        &.active {
            .footer-top__list {
                display: block;
            }

            .footer-top__title-list span::after {
                content: '-';
            }
        }
    }
}


@import '../SCSS/_fonts';

@import '../SCSS/blocks/_button';
@import '../SCSS/blocks/_header';
@import '../SCSS/blocks/_footer';
@import '../SCSS/blocks/_slider';

@import '../SCSS/blocks/_section-head';
@import '../SCSS/blocks/_section-news';
@import '../SCSS/blocks/_section-recomendation';
@import '../SCSS/blocks/_section-offers';
@import '../SCSS/blocks/_adaptive-blocks';
@import '../SCSS/blocks/_responsiv';

.wrapper {
    width: 95%;
    max-width: 1550px;
    height: 100%;
    position: relative;
    margin: 0 auto;
}

.container {
    width: 95%;
    max-width: 1410px;
    height: 100%;
    position: relative;
    margin: 0 auto;
}

.section {
    width: 100%;
    padding-bottom: 170px;
}

.flex-position {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

a {
    color: black;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
        list-style: none;
    }
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
    font-weight: normal;
}

p {
    margin: 0;
}