.advantage {
    width: 100%;

    .advantage__list {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .advantage__icon {
        max-width: 40px;
        max-height: 40px;
    }


    .advantage__subtitle {
        font-family: "Play-Regular";
        width: 100%;
        max-width: 114px;
        font-size: 1rem;
        line-height: 1rem;
        margin-left: 7px;
        color: black;
    }

    .advantage__item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-right: 10px ;

        &:last-child {
            margin-right: 0;
        }
    }
}