 .benefits-section {
     display: flex;
     flex-direction: column;
     justify-content: center;
 }

 .benefit {
     text-align: center;
 }

 .benefit__image-wrapper {
     display: inline-block;
     width: 128px;
     height: 128px;
     position: relative;
     background-color: #F2F5F4;
     border-radius: 50%;
 }

 .benefit__icon {
     width: 3.75rem;
     height: 3.75rem;
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
 }

 .benefit-title {
     margin: 24px 0 7px 0;
     font-size: 1.5rem;
     line-height: 1.8rem;
     font-family: "Play-Bold";
     color: black;
 }