.swiper-slide__btn {
    background-color: #ffaf2d;
    border:  none;
    border-radius: 20px;
    text-align: center;
    cursor: pointer;
    outline: none;
    font-size: 18px;
    color: #ffffff;
    padding: 7px 20px;
    max-height: 35px;
}