.section__footer-top {
    width: 100%;
    background: #282828;

    .footer-top__content {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 90px 0;
    }
}

.footer-top__title-list {
    color: #777777;
    font-size: 1.7rem;
    padding-bottom: 35px;
}

.footer-top__item {
    padding-bottom: 10px;

    a,
    span {
        color: #ffffff;
        font-size: 1.4rem;
        transition: all .3s;

        &:hover {
            color: #fda11c;
            transition: all .3s;
        }
    }

    &:last-child {
        padding-bottom: 0;
    }
}

.contacts--padding {
    .footer-top__item {

        &:nth-child(3),
        &:nth-child(4),
        &:nth-child(6) {
            margin-bottom: 17px;
        }
    }
}

.footer-coupiright__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 0;
}


.section__footer-bottom {
    background: #1f1f1f;
}

.footer-coupiright__logo {
    display: flex;

    img {
        width: 88px;
        height: 88px;
    }
}

.logo__text-content {
    margin-left: 17px;

    .logo__title--small {
        color: #ffffff;
        font-size: 1.7rem;
    }

    .logo__subtitle--small {
        color: #787878;
        font-size: 1.1rem;
    }
}

.footer-coupiright__link {
    color: #ffffff;
    font-size: 1.2rem;
}