.form {
    display: flex;
    margin-top: 40px;
}

.form__col {
    width: 100%;
    flex: 1;
    margin-right: 27px;

    &:last-child {
        margin-right: 0;
    }
}

.form__row {
    display: flex;
    margin-bottom: 18px;
}

.form__block {
    flex: 1;

    margin-right: 20px;

    &:last-child {
        margin-right: 0;
    }
}

.form__input {
    width: 100%;
    font-size: 0.87rem;
    line-height: 1.25rem;
    padding: 20px 10px;
    background: #FFFFFF;
    border: 3px solid transparent;
    border-radius: 4px;

    &--textarea {
        min-height: 152px;
        max-width: 450px;
        resize: none; 
    }
    &:focus {
        outline: none;
    }
}

  .input-error {
      border-color: #E01F3D;
  }


.form__controls {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 24px;
}

.form__btn-reset {
    font-family: "Play-Regular";
    background-color: transparent;
    border-radius: 100px;
    color: white;
    border: none;
    padding: 18px 41px;
    font-size: 1rem;
    line-height: 1.1rem;

    &:focus {
        outline: #E01F3D solid;
    }

    &:hover {
        color: $color-red-button;
        transition: all .5s;
    }
}