.menu-nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-nav__list {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .menu-nav__link {
        font-family: "AlegreyaSans-R";
        font-size: 1rem;
        line-height: 1.87rem;
        color: $color-grey-text;
        text-decoration: none;
        margin-right: 27px;

        &:last-child {
            margin-left: 0;
        }

        &:hover {
            color: #E01F3D;
            transition: all .5s;
        }
    }
}

.open-menu {
    .header {
        .menu-nav__active {
            display: flex;
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: #313131;

            .menu-nav__list {
                flex-direction: column;
                align-items: center;

                .menu-nav__link {
                    font-family: "Play-Regular";
                    color: #FFFFFF;
                    font-size: 2.5rem;
                    line-height: 5rem;
                    margin: 0 0 20px 0;

                    &:hover {
                        color: #666666;
                    }
                }
            }
        }
    }
}