.modal {
    font-family: "Play-Regular";
    background: #FFFFFF;
    text-align: center;
    display: none;

    .modal__title {
        display: block;
        margin-bottom: 18px;
        font-size: 18px;
        line-height: 24px;
    }
}

.error-modal {
    color: red;
}