.section-colors {
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    .section-colors__title {
        color: white;
        position: absolute;
        top: 10%;
        left: 10%;
    }

    .colors-acco {
        display: flex;
        justify-content: flex-end;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
    }
}

.colors-acco__item {
    height: 100%;
    display: flex;
    visibility: visible;

    .colors-acco__item .colors-acco__content:hover {
        width: 500px;
    }
    &.active {
        // order: 1;
        .colors-acco__content {
            transition: width 0.4s, color .4s .3s;
        }

        .colors-acco__text {
            color: #FFFFFF;
        }
    }
}

.colors-acco__trigger {
    width: 5rem;
    display: flex;
    justify-content: center;
}

.bg-grey {
    background: #999999;
}

.bg-black {
    background: #151515;
}

.bg-red {
    background: #E01F3C;
}

.colors-acco__trigger-text {
    font-family: "AlegreyaSans-B";
    font-size: 2.5rem;
    line-height: 3.8rem;
    color: #FFFFFF;
    white-space: nowrap;
    writing-mode: tb-rl;
    transform: rotate(180deg);
    margin-bottom: 20px;
}

.colors-acco__content {
    width: 0;
    overflow: hidden;
    background: rgba(51, 53, 55, 0.9);
    backdrop-filter: blur(10px);
    transition: width 0.4s;
}

.colors-acco__close {
    position: absolute;
    z-index: 10;
    top: 20px;
    right: 25px;
    border: none;
    background: transparent;
}

.colors-acco__close-icon {
    fill: #FFFFFF;
    width: 14px;
    height: 14px;
}

.colors-acco__text {
    font-family: "AlegreyaSans-R";
    font-size: 1.5rem;
    line-height: 2rem;
    color: rgba(255, 255, 255, 0);
    position: relative;
    padding: 3.75rem 1.85rem;
}