.benefits {
    display: flex;
    padding-top: 60px;
}

.benefits__item {
    flex: 1;
    padding: 0 3%;
    position: relative;

    &::before {
        content: url(./images/after-el.png);
        position: absolute;
        top: 50px;
        right: 0;
        transform: translateX(50%);
    }

    &:first-child {
        padding-left: 0;
    }

    &:last-child {
        padding-right: 0;

        &::before {
            display: none;
        }
    }
}

.benefits-section {
    position: relative;

    &::before {
        content: "";
        position: absolute;
        bottom: -2%;
        left: 15%;
        width: 34px;
        height: 34px;
        background-image: url(./images/elem-2.png);
        background-size: cover;
        background-repeat: no-repeat;
    }
}