.section-reviwes {
    position: relative;

    &::after {
        content: "";
        position: absolute;
        z-index: 1;
        bottom: -2%;
        left: 15%;
        width: 34px;
        height: 34px;
        background-image: url(./images/elem-4.png);
        background-size: cover;
        background-repeat: no-repeat;
    }
}

.reviews {
    width: 100%;
}

.reviews__display {
    min-width: 940px;
    margin-top: 40px;
    background-color: #F8FAF9;
    padding: 42px;
    overflow: hidden;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: -65px;
        display: block;
        width: 90px;
        height: 90px;
        background-color: white;
        border-radius: 50%;
    }
}

.reviews__list {
    position: relative;
    min-height: 280px;
}

.reviews__item {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    transition: 0.5s;
}

.active {
    opacity: 1;
}

.reviews__display-inner {
    display: flex;
    align-items: center;
}

.reviews__avatar {
    max-width: 100%;
    margin: 0 40px 0 0;
}

.reviews__avatar-img {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reviews__title {
    font-size: 1.5rem;
    line-height: 1.8rem;
    font-family: "Play-Bold";
    color: $headlineblack;
}

.reviews__text {
    max-width: 500px;
    font-family: "Play-Regular";
    font-size: 1.2rem;
    line-height: 1.3rem;
    padding: 28px 0 38px 0;
    color: $color-grey-text;
}

.reviews__autor {
    font-family: "Play-bold";
    font-size: 1.1rem;
    line-height: 1.3rem;
    color: $headlineblack;
}