.section-team {
    width: 100%;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        top: -2%;
        right: 15%;
        width: 34px;
        height: 34px;
        background-image: url(./images/elem-3.png);
        background-size: cover;
        background-repeat: no-repeat;
    }
}

.section-team__title {
    text-align: center;
    padding: 53px 0;
}