.swiper-container {
    width: 900px;
    height: 100%;
}

.swiper-button-next,
.swiper-button-prev {
    display: none;
    --swiper-theme-color: white;
    --swiper-navigation-size: 22px;
    top: 93%;
}

.container-slider {
    margin: 0 20px;
}

.swiper-slide__content {
    width: 100%;
    background-color: #282828;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 60px;
    overflow: hidden;
}

.swiper-slide__text {
    margin: 66px 0;
}

.swiper-slide__suptitle {
    color: #777777;
    font-size: 1.1rem;
}

.swiper-slide__title {
    color: #f3f1f1;
    font-size: 2.8rem;
    padding-bottom: 20px;
}

.swiper-slide__subtitle {
    color: #f3f1f1;
    font-size: 1.2rem;
}

.swiper-pagination-clickable .swiper-pagination-bullet {
    border: 1px solid white;
    opacity: 1;
}

.swiper-pagination-bullet-active {
    background: #fff;
}