@font-face {
    font-family: "AlegreyaSans-R";
    src: url('./fonts/AlegreyaSans-Regular.ttf') format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "AlegreyaSans-B";
    src: url('./fonts/AlegreyaSans-Bold.ttf') format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Play-Regular";
    src: url('./fonts/Play-Regular.ttf') format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Play-Bold";
    src: url('./fonts/Play-Bold.ttf') format("truetype");
    font-style: normal;
    font-weight: normal;
}